.basic-button {
    font-family: 'Roboto-Medium';
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.16px;
    padding: 9px 15px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.87);
    transition: all .2s linear;
    display: flex;
    align-items: center;
    [class*=" icon-"], [class^=icon-] {
        color: black;
    }
    &--pink {
        [class*=" icon-"], [class^=icon-] {
            color: white;
        }
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.24);
        color: white;
        background-color:$pink;
        &.basic-button--transparent:hover {
            color: $pink;
            background-color: $hover-pink;
        }
        .basic-button--transparent:active {
            color: $pink;
            background-color: $hover-pink;
        }
        &:active {
            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14)
        }
    }
    &--blue {
        [class*=" icon-"], [class^=icon-] {
            color: white;
        }
        color: white;
        background-color:$blue;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.24);
        &.basic-button--transparent:hover {
            background-color: $hover-blue;
        }
        &:hover {
            background-color: $hover-main-blue;
        }
        &:active {
            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14)
        }
        &.basic-button--hovered {
            background-color: $hover-main-blue;
        }
        &.basic-button--pressed {
            background-color: $pressed-blue;
        }
    }
    &--dis {
        cursor: default;
        pointer-events: none;
        user-select: none;
        color: rgba(0, 0, 0, 0.36);
        [class*=" icon-"], [class^=icon-] {
            color: $disabled;
        }
    }
    &--transparent {
        &.basic-button--blue {
            color: $blue;
        }
        &.basic-button--pink {
            color: $pink;
        }
        box-shadow: none;
        background-color: transparent;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            box-shadow: none;
        }
        &.basic-button--hovered {
            background-color: $hover-blue;
            color: $blue;
        }
        &.basic-button--blue:active {
            background-color: $pressed-blue;
            color: $blue;
        }
        &.basic-button--pink:active {
            background-color: $pressed-pink;
            color: $pink;
        }
    }
    &--outlined {
        border:  1px solid rgba(0, 0, 0, 0.36);
        background-color: transparent;
        &.basic-button--blue {
            color: $blue;
            border:  1px solid $blue;
            box-shadow: none;
        }
        &.basic-button--pink {
            box-shadow: none;
            color: $pink;
            border:  1px solid $pink;
        }
        &.basic-button--inherit {
        color: black;
        border: 1px solid black;
        }
        &:hover {
            background-color: transparent;
        }
    }
    &--small {
        padding: 7px 12px;
    }
    &--medium {
        padding: 9px 16px;
    }
    &--large {
        padding: 13px 25px;
    }
}

.buttons {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 25px;
        &--withTab {
            align-items: start;
            .buttons__item:last-child {
                margin: 0 0 0 15px;
                .tab__content {
                    min-height: 150px;
                }
            }
        }
    }
    &__item {
        margin-right: 15px;
    }
    .size {
        display: flex;
        flex-wrap: wrap;
    }
}

.classic-text {
    letter-spacing: 1.25px;
}

/* Floating Action Buttons */

.button-round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    &--pink {
        background-color: $beta-pink;

    }
    &--blue {
        background-color: $blue;
    }
    &--blue, &--pink {
        &:active {
            box-shadow: 0px 12px 17px rgba(0, 0, 0, 0.14);
        }
        &.button-round--pressed {
            box-shadow: 0px 12px 17px rgba(0, 0, 0, 0.14);
        }
        [class*=" icon-"], [class^=icon-] {
            color: white;
        }
    }
    &--text {
         display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.24);
        border-radius: 50px;
        padding: 19px 19px;
        [class*=" icon-"], [class^=icon-] {
            margin-right: 10px;
        }
        &_blue {
            background-color: $blue;
            color: white;
            [class*=" icon-"], [class^=icon-] {
            margin-right: 10px;
            color: white;
            }
        }
        span {
                font-size: 14px;
        }
        &_small {
            padding: 7px 13px 8px;
        }
        &_medium {
            padding: 10px 19px 11px;
        }
        &_large {
            padding: 14px 19px 15px;
        }
    }
    &--absolute {
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
    &--small {
        max-width: 40px;
        max-height: 40px;
    }
    &--medium {
        max-width: 48px;
        max-height: 48px;
    }
    &--large {
        max-width: 56px;
        max-height: 56px;
    }
}

/* ../Floating Action Buttons */

/* Size */

.size {
    .buttons__list {
        flex-direction: column;
        align-items: start;
    }
    .buttons__item {
        display: flex;
        align-items: center;
        button {
            margin: 0 15px 30px 0;
        }
        .icon-local {
            margin: 0 15px;
        }
    }

}

.icon-local {
    cursor: pointer;
    &--small {
        font-size: 16px;
    }
    &--medium {
        font-size: 20px;
    }
    &--large {
        font-size: 28px;
    }
}
/* ../Size */


/* Icon-label buttons */

.icon-span-buttons {
    display: flex;
    flex-direction: column;
}

.icon-span-button {
    [class*=" icon-"]:before, [class^=icon-]:before {
        font-size: 18px;
        margin-right: 6px;
    }
}

.span-icon-button {
    [class*=" icon-"]:before, [class^=icon-]:before {
        font-size: 18px;
        margin-left: 6px;
    }
}

/* ../Icon-label buttons */

/* buttons__states */

.buttons__states {
    display: flex;
    .buttons__list {
        flex-direction: column;
        align-items: start;
        margin-right: 50px;
    }
    .buttons__item {
        margin: 0 0 30px 0;
        display: flex;
        align-items: center;
    }
    span {
        color: rgba(0, 0, 0, 0.87);
        font-size: 10px;
    }
    button {
        margin-right: 16px;
    }
}

/* ../buttons__states */

/* =================================== MEDIA ============================ */

@media (max-width: 630px) {
    .buttons__states {
        flex-wrap: wrap;
    }
    .size .buttons__item {
        flex-wrap: wrap;
    }
}
