.textfields {
    &__list-2 {
        display: flex;
        margin-top: 60px;
        .textfields__item {
            margin-bottom: 0;
        }
    }
    &__wrap {
        display: flex;
    }
    &__list:first-child {
        margin-right: 30px;
    }
    &__item {
        margin-bottom: 45px;
        display: flex;
        align-items: center;
    }
    .global-label__span {
        margin-bottom: 0;
        min-width: 55px;
    }
}

.textfield {
    appearance: none;
    background-color: transparent;
    padding: 10px 0;
    font-size: 16px;
    color: $black-dark;
    width: 320px;
    margin-right: 15px;
    background-color: transparent;
    border-bottom: 2px solid $black-light;
    transition: background-size 0.3s ease;
    &-label {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        .icon-like-2 {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__placeholder {
        position: absolute;
        color: $black-medium;
        transition: .3s ease;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &-first:hover,
    &-first--hovered {
        border-color: $black-dark;
    }
    &-first.dirty,
    &-first:valid,
    &-first:focus {
        border-color: $blue;
    }
    &-first:focus ~ .textfield__placeholder,
    &-first--focused .textfield__placeholder {
            color: $blue;
            opacity: 0.87;
            font-size: 12px;
            top: -10px;
            transform: translateY(0);
    }
    &-first--error:focus {
        border-color: #F44336;
    }
    &-first--error:focus ~ .textfield__placeholder {
        color: #F44336;
    }
    &-first--disabled {
        cursor: default;
        pointer-events: none;
    }

    /* second textfield */

    &__placeholder--outlined {
        padding: 0 6px;
    }

    &-second:focus ~ .textfield__placeholder--outlined,
    &-second--focused .textfield__placeholder--outlined {
            color: $blue;
            font-size: 12px;
            top: -7px;
            transform: translateY(0);
            background-color: #F4F4F4;
    }

    &-second {
        border: 2px solid $black-light;
        border-radius: 4px;
        padding: 10px 13px;
        position: relative;

        &--error {
            border: 2px solid #f44336;
            border-color: #f44336;
            border-radius: 4px;
            padding: 10px 13px;
        }
        &--error:focus ~ .textfield__placeholder--outlined,
        &-second--focused .textfield__placeholder--outlined {
            color: #F44336;
            font-size: 12px;
            top: -7px;
            transform: translateY(0);
            background-color: #F4F4F4;
        }
        &:hover,
        &--hovered {
            border-color: $black-dark;
        }

        &:focus {
            border-color: $blue;
        }
    }

    &__placeholder--outlined.textfield__placeholder {
        left: 8px;
    }

    &__helper {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        color: $black-medium;
        font-size: 12px;
        position: absolute;
        top: 42px;
        left: 15px;
        &--red {
            color: #f44336;
        }
    }
}
