@import "./vars.scss";
@import "./vendors/normalize.scss";
@import "./vendors/slick.min.css";
@import "./fonts.scss";
@import "./global.scss";
@import "./mixins.scss";
@import "./vendors/slick.min.css";

@import "./blocks/appbar.scss";
@import "./blocks/tabs.scss";
@import "./blocks/badges.scss";
@import "./blocks/chips.scss";
@import "./blocks/buttons.scss";
@import "./blocks/radiobuttons.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/switches.scss";
@import "./blocks/tooltips.scss";
@import "./blocks/textfields.scss";
@import "./blocks/snackbars.scss";
@import "./blocks/progressbar.scss";
@import "./blocks/tables.scss";
@import "./blocks/grid-list.scss";
