@import "./vars.scss";
@import "./vendors/normalize.scss";
@import "./fonts.scss";
@import "./global.scss";
@import "./blocks/badges.scss";
@import "./blocks/chips.scss";
@import "./blocks/buttons.scss";

@import "./blocks/appbar.scss";
@import "./blocks/tabs.scss";
