$blue: #2196F3;
$pink:  #E10050;
$beta-pink: #E91E63;
$gray:  #333333;
$beta-gray: #DADADA;
$chips-before: #C4C4C4;
$success-msg: #43A047;
$info-msg:  #1976D2;
$warning-msg:#FFA000;
$error-msg: #B00020;
$background:  #F4F4F4;
$input-placeholder: #91CBF9;
$input: #42A6F5;
